/*bg*/

.page__container {
    position: relative;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

/*page__advertisement*/

.page__advertisement {
    background-color: var(--blue, #3156E8);
    height: auto;
}
.page__advertisement-wrapper {
    display: flex;
    gap: 2rem;
    color: var(--white, #FFFFFF);
    width: var(--section-width);
    margin: 1.5rem var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 541px) {
    .page__advertisement-wrapper {
        justify-content: space-between;
    }
}

@media screen and (min-width: 961px) {
    .page__advertisement-wrapper {
        margin: 1.5rem auto;
    }
}

.page__advertisement-text {
    font-size: .75rem;
    line-height: 1.25;
}

@media screen and (min-width: 361px) {
    .page__advertisement-text {
        font-size: 1rem;
        line-height: 1.5;
    }
}

@media screen and (min-width: 761px) {
    .page__advertisement-text-strong {
        display: inline-block;
    }
}

.page__advertisement-button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.page__advertisement-button-icon {
    font-size: 1.25rem;
}

/*page__header*/

.page__header {
    position: relative;
    overflow-x: hidden;
    background-color: var(--dark, #1A1A1A);
    color: var(--white, #FFFFFF);
    min-height: 125vh;
    min-height: 125svh;
    padding-bottom: var(--gap-section, 2.5rem);
    z-index: 1;
}

@media screen and (min-width: 441px) {
    .page__header {
        min-height: 150vh;
        min-height: 150svh;
    }
}

@media screen and (min-width: 541px) {
    .page__header {
        min-height: 110vh;
        min-height: 110svh;
    }
}

@media screen and (min-width: 961px) {
    .page__header {
        border-bottom-left-radius: var(--border-radius-section, 4.25rem);
        border-bottom-right-radius: var(--border-radius-section, 4.25rem);
    }
}

.page__header-image {
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
    z-index: -1;
}

@media screen and (min-width: 441px) {
    .page__header-image {
        top: 35%;
        right: -60%;
    }
}

@media screen and (min-width: 541px) {
    .page__header-image {
        top: 0;
        left: 20%;
        right: -60%;
    }
}

@media screen and (min-width: 641px) {
    .page__header-image {
        top: 0;
        right: -40%;
        left: 40%;
    }
}

@media screen and (min-width: 801px) {
    .page__header-image {
        right: -20%;
    }
}

@media screen and (min-width: 1281px) {
    .page__header-image {
        right: 0;
        left: 50%;
    }
}

.page__header-logo-href {
    text-decoration: none;
    color: var(--white, #FFFFFF);
}

.page__header-logo {
    width: var(--section-width);
    margin: var(--gap-section, 2.5rem) var(--margin-sides, 1.5rem);
    margin-bottom: 0;
}

@media screen and (min-width: 961px) {
    .page__header-logo {
        margin: var(--gap-section, 2.5rem) auto;
    }
}

/*section - page__header-hero*/

.page__header-hero {
    width: var(--section-width);
    margin: 1.5rem var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 961px) {
    .page__header-hero {
        margin: var(--gap-body, 5rem) auto;
    }
}

.page__header-hero-header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.page__header-hero-header-title {
    max-width: 52.5rem;
    font-size: 4.5rem;
}

@media screen and (min-width: 441px) {
    .page__header-hero-header-title {
        font-size: var(--welcome-title, 6.25rem);
    }
}

.page__header-hero-header-text {
    max-width: 15rem;
}

@media screen and (min-width: 541px) {
    .page__header-hero-header-text {
        max-width: none;
    }
}

.page__header-hero-content-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2.5rem;
}

@media screen and (min-width: 761px) {
    .page__header-hero-content-buttons {
        flex-direction: row;
    }
}

/*main - index.html*/

.page__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
}

/*section - page__specialization*/

.page__specialization {
    width: var(--section-width);
    margin: var(--gap-body, 5rem) var(--margin-sides, 1.5rem);
    margin-bottom: 0;
}

@media screen and (min-width: 961px) {
    .page__specialization {
        margin: var(--gap-body, 5rem) auto;
        margin-bottom: 0;
    }
}

.page__specialization-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.page__specialization-item {
    flex-basis: 90%;
} 

@media screen and (min-width: 641px) {
    .page__specialization-item {
        flex-basis: 45%;
        flex-grow: 1;
    } 
}

@media screen and (min-width: 961px) {
    .page__specialization-item {
        flex-basis: 30%;
        flex-grow: 1;
    } 
}

/*section - page__about-me*/

.page__about-me {
   background-color: var(--gray, #F3F4F9);
}

@media screen and (min-width: 961px) {
    .page__about-me {
        border-top-left-radius: var(--border-radius-section, 4.25rem);
        border-top-right-radius: var(--border-radius-section, 4.25rem);
    }
}

.page__about-me-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-body, 5rem);
    width: var(--section-width);
    margin-bottom: var(--gap-body, 5rem);
}

@media screen and (min-width: 961px) {
    .page__about-me-wrapper {
        margin: 0 auto;
        margin-bottom: var(--gap-body, 5rem);
    }
}

.page__about-me-header {
    margin: 0 var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 961px) {
    .page__about-me-header {
        margin: 0;
    }
}

.page__about-me-header-title {
    margin-top: var(--gap-body, 5rem);
    margin-bottom: 1.5rem;
}

.page__about-me-header-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.page__about-me-content {
    display: grid;
    grid-template-rows: repeat(2, minmax(1fr, 440px));
    gap: var(--gap-section, 2.5rem);
    overflow-x: hidden;
    padding: 0 var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 961px) {
    .page__about-me-content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax(1fr, 440px);
        padding: 0;
    }

    .page__about-me-content-figure {
        grid-column: 2;
    }
}

@media screen and (min-width: 1281px) {
    .page__about-me-content-figure {
        grid-column: 2;
    }
}

.page__about-me-content-image {
    border-radius: var(--border-radius-image, 24px);
    max-height: 440px;
    object-position: top;
}

@media screen and (min-width: 961px) {
    .page__about-me-content-image {
        max-height: none;
    }
}

@media screen and (min-width: 1281px) {
    .page__about-me-content-image {
        max-height: 700px;
    }
}

@media screen and (min-width: 1501px) {
    .page__about-me-content-image {
        max-height: 600px;
    }
}

.page__about-me-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-section, 2.5rem);
    margin: 0 var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 961px) {
    .page__about-me-stats {
        margin: 0;
    }
}

@media screen and (min-width: 1281px) {
    .page__about-me-stats {
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
    }
}

.page__about-me-stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.page__about-me-stats-title {
    color: var(--blue, #3156E8);
    line-height: 1;
}

@media screen and (min-width: 541px) {
    .page__about-me-stats-title {
        font-size: var(--title, 3.75rem);
    }
}

/*section - page__cta*/

.page__cta {
    display: flex;
    justify-content: center;
    background-color: var(--blue, #3156E8);
}

.page__cta-wrapper {
    flex-grow: 1;
    text-decoration: none;
}

.page__cta-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: var(--section-width);
    margin: var(--gap-section, 2.5rem) var(--margin-sides, 1.5rem);
    color: var(--white, #FFFFFF);
    font-size: 2rem;
}

.page__cta-title::after {
    content: "";
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-image: url("/public/images/ui/arrow-right-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    translate: var(--cta-after-x, 0) 0;
    transition: transform var(--transition, .25s ease-in-out);
}

.page__cta-wrapper:hover .page__cta-title::after {
    transform: translateX(1rem);
}

@media screen and (min-width: 641px) {
    .page__cta-title {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1281px) {
    .page__cta-title {
        font-size: var(--title, 3.75rem);
    }
}

@media screen and (min-width: 961px) {
    .page__cta-title {
        margin: var(--gap-section, 2.5rem) auto;
    }
}

/*section - page__my-companies*/

.page__my-companies {
    width: var(--section-width);
    margin: var(--gap-body, 5rem) var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 961px) {
    .page__my-companies {
        margin: var(--gap-body, 5rem) auto;
    }
}

.page__my-companies-header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/*section - page__business-sparing-partner*/

.page__business-sparing-partner {
    background-color: var(--gray, #F3F4F9);
    margin-top: 0;
    padding-top: var(--gap-body, 5rem);
    overflow-x: hidden;
}

@media screen and (min-width: 961px) {
    .page__business-sparing-partner {
        border-top-left-radius: var(--border-radius-section, 4.25rem);
        border-top-right-radius: var(--border-radius-section, 4.25rem);
    }
}

.page__business-sparing-partner-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-section, 2.5rem);
    width: var(--section-width);
    margin: 0 var(--margin-sides, 1.5rem);
    margin-bottom: var(--gap-body, 5rem);
}

@media screen and (min-width: 961px) {
    .page__business-sparing-partner-wrapper {
        flex-direction: row;
        gap: 5rem;
        margin: 0 auto;
        margin-bottom: var(--gap-body, 5rem);
        align-items: start;
    }

    .page__business-sparing-partner-information, .page__business-sparing-partner-card {
        flex-basis: 35%;
        flex-grow: 1;
    }
}

.page__business-sparing-partner-header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.page__business-sparing-partner-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: fit-content;
    margin-top: 1.5rem;
}

.page__business-sparing-partner-content-text-strong {
    font-size: 2.5rem;
    color: var(--blue, #3156E8);
}

@media screen and (min-width: 441px) {
    .page__business-sparing-partner-content-text-strong {
        font-size: 3.25rem;
    }
}

/*card*/

.page__business-sparing-partner-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page__business-sparing-partner-card-item::before {
    color: var(--blue, #3156E8);
}

.page__business-sparing-partner-card-title--blue {
    color: var(--blue, #3156E8);
}

.page__business-sparing-partner-card-item-title {
    margin: 0;
}

/*section - page__contact*/

.page__contact {
    background-color: var(--blue, #3156E8);
    color: var(--white, #FFFFFF);
}

@media screen and (min-width: 961px) {
    .page__contact {
        border-top-left-radius: var(--border-radius-section, 4.25rem);
        border-top-right-radius: var(--border-radius-section, 4.25rem);
    }
}

.page__contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-section, 2.5rem);
    width: var(--section-width);
    margin: var(--gap-body, 5rem) var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 961px) {
    .page__contact-wrapper {
        flex-direction: row;
        justify-content: center;
        margin: var(--gap-body, 5rem) auto;
    }
}

@media screen and (min-width: 1281px) {
    .page__contact-wrapper {
        gap: 0;
    }
}

.page__contact-advertisement {
    flex-basis: 40%;
    flex-grow: 1;
}

.page__contact-header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.page__contact-header-title {
    max-width: 30rem;
}

.page__contact-header-text {
    max-width: 32rem;
}

@media screen and (min-width: 1701px) {
    .page__contact-header-title {
        max-width: 50rem;
    }

    .page__contact-header-text {
        max-width: 50rem;
    }
}

.page__contact-information {
    margin-top: var(--gap-section, 2.5rem);
}

.page__contact-information-list {
    display: grid;
    justify-items: start;
    justify-content: start;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
}

.page__contact-information-list-item {
    list-style: none;
}

.page__contact-information-list-item-href {
    transition: color var(--transition, .25s ease-in-out);
}

.page__contact-information-list-item-href:hover {
    color: var(--turquoise, #16BEBA);
}

.page__contact-information-list-item-href-span {
    display: block;
}

@media screen and (min-width: 361px) {
    .page__contact-information-list-item-href-span {
        display: inline;
    }
}

.page__contact-information-list-item-href--facebook {
    padding: .5rem;
    padding-left: 0;
    fill: var(--white, #FFFFFF);
    transition: fill var(--transition, .25s ease-in-out);
}

.page__contact-information-list-item-href--facebook:hover {
    fill: var(--turquoise, #16BEBA);
}

.page__contact-information-list-item-href--instagram {
    padding: .5rem;
    fill: none;
    stroke: var(--white, #FFFFFF);
    transition: stroke var(--transition, .25s ease-in-out);
}

.page__contact-information-list-item-href--instagram:hover {
    stroke: var(--turquoise, #16BEBA);
}

.page__contact-information-list-item--phone-number, .page__contact-information-list-item--email {
    grid-column: 1 / span 3;
}

.page__contact-information-list-item--facebook {
    grid-column: 1;
    width: 1.5rem;
    height: 1.5rem;
}

.page__contact-information-list-item--instagram {
    grid-column: 2;
    width: 1.5rem;
    height: 1.5rem;
}

.page__contact-information-list-item-href {
    text-decoration: none;
    color: var(--white, #FFFFFF);
    font-weight: 700;
    font-size: var(--cards-heading, 1.5rem);
}

.page__contact-form {
    flex-basis: 40%;
    flex-grow: 1;
}

/*page__footer*/

.page__footer {
    display: flex;
    background-color: var(--dark-blue, #2241BD);
    color: var(--white, #FFFFFF);
    min-height: 7.5rem;
}

.page__footer-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap-section, 2.5rem);
    width: var(--section-width);
    margin: var(--gap-section, 2.5rem) var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 1281px) {
    .page__footer-wrapper {
        flex-direction: row;
        align-items: center;
        gap: 0;
        justify-content: space-between;
        margin: var(--gap-section, 2.5rem) auto;
    }
}

.page__footer-copyright-href {
    text-decoration: none;
    color: var(--white, #FFFFFF);
    transition: color var(--transition, .25s ease-in-out);
}

.page__footer-copyright-href:hover {
    color: var(--turquoise, #16BEBA);
}

.page__footer-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 1281px) {
    .page__footer-links {
        flex-direction: row;
        gap: var(--gap-section, 2.5rem);
    }
}

.page__footer-links-item {
    list-style: none;
}

.page__footer-links-item-href {
    text-decoration: none;
    color: var(--white, #FFFFFF);
    transition: color var(--transition, .25s ease-in-out);
}

.page__footer-links-item-href:hover {
    color: var(--turquoise, #16BEBA);
}

/*privacy-policy.html*/

.page__header--smaller {
    position: static;
    min-height: auto;
    padding-bottom: 0;
}

@media screen and (min-width: 961px) {
    .page__header--smaller {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.page__header-logo--smaller {
    width: var(--section-width);
    margin: var(--gap-section, 2.5rem) var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 961px) {
    .page__header-logo--smaller {
        margin: var(--gap-section, 2.5rem) auto;
    }
}

/*main - privacy-policy.html*/

.page__content-title {
    width: var(--section-width);
    margin: 2.5rem var(--margin-sides, 1.5rem);
    margin-bottom: 0;
    font-size: 2.5rem;
}

@media screen and (min-width: 961px) {
    .page__content-title {
        margin: 2.5rem auto;
        margin-bottom: 0;
        font-size: 3rem;
    }
}

.page__who-we-are, .page__data-collection, .page__data-usage, .page__data-handling, .page__data-retention, .page__rights {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: var(--section-width-smaller);
    margin: 5rem var(--margin-sides, 1.5rem);
    margin-bottom: 0;
}

@media screen and (min-width: 961px) {
    .page__who-we-are, .page__data-collection, .page__data-usage, .page__data-handling, .page__data-retention, .page__rights {
        margin: 5rem auto;
        margin-bottom: 0;
    }
}

.page__who-we-are-strong {
    color: var(--blue, #3156E8);
}

.page__rights {
    margin-bottom: 5rem;
}

.page__data-collection-list, .page__rights-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 0;
    padding-left: 1.25rem;
    color: var(--blue, #3156E8);
}

.page__rights-email {
    text-decoration: none;
    color: var(--blue, #3156E8);
    font-weight: 700;
    transition: color var(--transition, .25s ease-in-out);
}

.page__rights-email:hover {
    color: var(--turquoise, #16BEBA);
}

/*main - 404.html*/

.page__notfound {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-section, 2.5rem);
    text-align: center;
    background-color: var(--blue, #3156E8);
    color: var(--white, #FFFFFF);
    padding: 0 var(--margin-sides, 1.5rem);
}

@media screen and (min-width: 641px) {
    .page__notfound {
        padding: 0;
    }
}

.page__notfound-title {
    margin: 0;
    line-height: .75;
}

.page__notfound-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}