@layer reset, init, typography, animations, content, components;
@import url(normalize.css) layer(reset);
@import url(typography.css) layer(typography);
@import url(layout.css) layer(content);
@import url(components.css) layer(components);

@layer reset {
    :root {
        /*Colors*/

        --white: #FFFFFF;
        --gray: #F3F4F9;
        --dark-gray: #DEE1F4;
        --card-gray: #F6F6F6;
        --dark: #1A1A1A;
        --blue: #3156E8;
        --dark-blue: #2241BD;
        --cream-accent: #DED0B6;
        --turquoise: #16BEBA;

        /*Font-sizes*/

        --welcome-title: 6.25rem;
        --title: 3rem;
        --cards-heading: 1.5rem;
        --paragraph: 1rem;

        /*Settings*/

        /*transitions*/

        --transition: .25s ease-in-out;

        /*border-radius*/

        --border-radius-section: 4.25rem;
        --border-radius-button: 2.5rem;
        --border-radius: 1.5rem;
        --border-radius-image: 24px;

        /*gap*/

        --gap-body: 5rem;
        --gap-section: 2.5rem;
        --margin-sides: 1.5rem;
    }

    @media screen and (min-width: 961px) {
        :root {
            /*Font-sizes*/

            --title: 3.75rem;

            /*width*/

            --section-width: 85vw;
            --section-width: 85svw;

            /*gap*/

            --gap-body: 6.25rem;
        }
    }

    html {
        font-family: 'Gotham', sans-serif;
        font-weight: 400;
        font-size: var(--paragraph, 1rem);
        color: var(--dark, #1A1A1A);
        background-color: var(--white, #FFFFFF);
        scroll-behavior: smooth;
        overscroll-behavior: none;
    }

    body {
        overscroll-behavior: none;
    }
}

@layer init {   
    /*presets*/

    /*img / iframe - responsive*/

    .img-responsive, .iframe-responsive {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }

    /*svg - responsive*/

    .svg-responsive {
        display: block;
        width: 100%;
        height: auto;
    }
}